asttokens==2.4.1
black==24.4.2
cfgv==3.4.0
click==8.1.7
cloudpickle==3.0.0
comm==0.2.2
contourpy==1.2.1
cycler==0.12.1
debugpy==1.8.2
decorator==5.1.1
distlib==0.3.8
executing==2.0.1
Farama-Notifications==0.0.4
filelock==3.15.4
fonttools==4.53.1
fsspec==2024.2.0
gym==0.26.2
gym-notices==0.0.8
gymnasium==0.29.1
identify==2.5.36
ipykernel==6.29.5
ipython==8.26.0
isort==5.13.2
jedi==0.19.1
Jinja2==3.1.3
jupyter_client==8.6.2
jupyter_core==5.7.2
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib-inline==0.1.7
mpmath==1.3.0
mypy-extensions==1.0.0
nes_py==8.2.1
nest-asyncio==1.6.0
networkx==3.2.1
nodeenv==1.9.1
numpy==1.26.4
packaging==24.1
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
pillow==10.4.0
platformdirs==4.2.2
pre-commit==3.7.1
prompt_toolkit==3.0.47
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyboy==2.2.0
pyglet==1.5.21
Pygments==2.18.0
pyparsing==3.1.2
PySDL2==0.9.16
pysdl2-dll==2.30.2
python-dateutil==2.9.0.post0
PyYAML==6.0.1
pyzmq==26.0.3
ruff==0.5.6
setuptools==72.1.0
six==1.16.0
stack-data==0.6.3
sympy==1.12
torch==2.4.0+cpu
torchaudio==2.4.0+cpu
torchvision==0.19.0+cpu
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
typing_extensions==4.12.2
virtualenv==20.26.3
wcwidth==0.2.13
wheel==0.43.0
